.popup__close{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -48px;
    right: -35px;
    background-color: transparent;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s linear;
}

.popup__close:hover{
    transform: rotate(45deg);
}

@media(max-width: 700px){
    .popup__close{
        right: 0px;
    }
}